openapi: 3.0.1
info:
  title: core-lending-collateral-management
  description: Collateral & Guarantee Management Core Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/general-ledger
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: CollateralLien
    description: Operations for Collateral Liens
  - name: CollateralAsset
    description: Operations for Collateral Assets
  - name: CollateralCase
    description: Operations for Collateral Cases
  - name: CollateralParty
    description: Operations for Parties associated with a Collateral Asset
  - name: CollateralValuation
    description: Operations for Collateral Valuations
paths:
  /api/v1/collateral-cases/{collateralCaseId}:
    get:
      tags:
        - CollateralCase
      summary: Get CollateralCase by ID
      operationId: getById
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralCaseDTO'
    put:
      tags:
        - CollateralCase
      summary: Update CollateralCase
      operationId: update
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralCaseDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralCaseDTO'
    delete:
      tags:
        - CollateralCase
      summary: Delete CollateralCase
      operationId: delete
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
  /api/v1/collateral-cases/{collateralCaseId}/assets/{collateralAssetId}:
    get:
      tags:
        - CollateralAsset
      summary: Get a Collateral Asset by ID
      operationId: getById_1
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralAssetDTO'
    put:
      tags:
        - CollateralAsset
      summary: Update a Collateral Asset
      operationId: update_1
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralAssetDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralAssetDTO'
    delete:
      tags:
        - CollateralAsset
      summary: Delete a Collateral Asset
      operationId: delete_1
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
  /api/v1/collateral-cases/{collateralCaseId}/assets/{collateralAssetId}/valuations/{collateralValuationId}:
    get:
      tags:
        - CollateralValuation
      summary: Get a Collateral Valuation by ID
      operationId: getById_2
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralValuationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralValuationDTO'
    put:
      tags:
        - CollateralValuation
      summary: Update a Collateral Valuation
      operationId: update_2
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralValuationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralValuationDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralValuationDTO'
    delete:
      tags:
        - CollateralValuation
      summary: Delete a Collateral Valuation
      operationId: delete_2
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralValuationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
  /api/v1/collateral-cases/{collateralCaseId}/assets/{collateralAssetId}/parties/{collateralPartyId}:
    get:
      tags:
        - CollateralParty
      summary: Get a Collateral Party by ID
      operationId: getById_3
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralPartyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralPartyDTO'
    put:
      tags:
        - CollateralParty
      summary: Update a Collateral Party
      operationId: update_3
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralPartyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralPartyDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralPartyDTO'
    delete:
      tags:
        - CollateralParty
      summary: Delete a Collateral Party record
      operationId: delete_3
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralPartyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
  /api/v1/collateral-cases/{collateralCaseId}/assets/{collateralAssetId}/liens/{collateralLienId}:
    get:
      tags:
        - CollateralLien
      summary: Get a Collateral Lien by ID
      operationId: getById_4
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralLienId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralLienDTO'
    put:
      tags:
        - CollateralLien
      summary: Update a Collateral Lien
      operationId: update_4
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralLienId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralLienDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralLienDTO'
    delete:
      tags:
        - CollateralLien
      summary: Delete a Collateral Lien
      operationId: delete_4
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralLienId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
  /api/v1/collateral-cases:
    get:
      tags:
        - CollateralCase
      summary: Find All (or Search) Collateral Cases
      operationId: findAll
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanContractId
          in: query
          description: Exact filter for loan contract id
          required: false
          schema:
            type: string
        - name: filters.loanApplicationId
          in: query
          description: Exact filter for loan application id
          required: false
          schema:
            type: string
        - name: filters.referenceNumber
          in: query
          description: Exact filter for reference number
          required: false
          schema:
            type: string
        - name: filters.collateralStatus
          in: query
          description: Exact filter for collateral status
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - RELEASED
              - UNDER_REVIEW
              - PENDING
        - name: filters.remarks
          in: query
          description: Exact filter for remarks
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseCollateralCaseDTO'
    post:
      tags:
        - CollateralCase
      summary: Create CollateralCase
      operationId: create
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralCaseDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralCaseDTO'
  /api/v1/collateral-cases/{collateralCaseId}/assets:
    get:
      tags:
        - CollateralAsset
      summary: List or Search Collateral Assets for a Case
      operationId: findAll_1
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.collateralCaseId
          in: query
          description: Exact filter for collateral case id
          required: false
          schema:
            type: string
        - name: filters.assetTypeId
          in: query
          description: Exact filter for asset type id
          required: false
          schema:
            type: string
        - name: filters.assetDescription
          in: query
          description: Exact filter for asset description
          required: false
          schema:
            type: string
        - name: filters.declaredValue
          in: query
          description: Exact filter for declared value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[declaredValue].from
          in: query
          description: Filter declared value from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[declaredValue].to
          in: query
          description: Filter declared value to value
          required: false
          schema:
            type: string
        - name: filters.isPrimary
          in: query
          description: Exact filter for is primary
          required: false
          schema:
            type: boolean
        - name: filters.ownershipInfo
          in: query
          description: Exact filter for ownership info
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseCollateralAssetDTO'
    post:
      tags:
        - CollateralAsset
      summary: Create a Collateral Asset under the given Case
      operationId: create_1
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralAssetDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralAssetDTO'
  /api/v1/collateral-cases/{collateralCaseId}/assets/{collateralAssetId}/valuations:
    get:
      tags:
        - CollateralValuation
      summary: List or Search Valuations for an Asset
      operationId: findAll_2
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.collateralAssetId
          in: query
          description: Exact filter for collateral asset id
          required: false
          schema:
            type: string
        - name: filters.appraisedValue
          in: query
          description: Exact filter for appraised value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[appraisedValue].from
          in: query
          description: Filter appraised value from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[appraisedValue].to
          in: query
          description: Filter appraised value to value
          required: false
          schema:
            type: string
        - name: filters.valuationMethod
          in: query
          description: Exact filter for valuation method
          required: false
          schema:
            type: string
            enum:
              - MARKET_COMPARISON
              - INCOME_APPROACH
              - COST_APPROACH
              - OTHER
        - name: filters.valuationProvider
          in: query
          description: Exact filter for valuation provider
          required: false
          schema:
            type: string
        - name: filters.valuationDate
          in: query
          description: Exact filter for valuation date
          required: false
          schema:
            type: string
        - name: filters.currencyCode
          in: query
          description: Exact filter for currency code
          required: false
          schema:
            type: string
            enum:
              - EUR
              - USD
              - GBP
        - name: filters.notes
          in: query
          description: Exact filter for notes
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseCollateralValuationDTO'
    post:
      tags:
        - CollateralValuation
      summary: Create a Valuation under an Asset
      operationId: create_2
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralValuationDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralValuationDTO'
  /api/v1/collateral-cases/{collateralCaseId}/assets/{collateralAssetId}/parties:
    get:
      tags:
        - CollateralParty
      summary: List or Search Collateral Parties
      operationId: findAll_3
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.collateralAssetId
          in: query
          description: Exact filter for collateral asset id
          required: false
          schema:
            type: string
        - name: filters.partyId
          in: query
          description: Exact filter for party id
          required: false
          schema:
            type: string
        - name: filters.roleCode
          in: query
          description: Exact filter for role code
          required: false
          schema:
            type: string
            enum:
              - OWNER
              - CO_OWNER
              - OCCUPANT
              - CUSTODIAN
        - name: filters.ownershipPercentage
          in: query
          description: Exact filter for ownership percentage
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[ownershipPercentage].from
          in: query
          description: Filter ownership percentage from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[ownershipPercentage].to
          in: query
          description: Filter ownership percentage to value
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseCollateralPartyDTO'
    post:
      tags:
        - CollateralParty
      summary: Create a Collateral Party record
      operationId: create_3
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralPartyDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralPartyDTO'
  /api/v1/collateral-cases/{collateralCaseId}/assets/{collateralAssetId}/liens:
    get:
      tags:
        - CollateralLien
      summary: List or Search Collateral Liens
      operationId: findAll_4
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.collateralAssetId
          in: query
          description: Exact filter for collateral asset id
          required: false
          schema:
            type: string
        - name: filters.lienType
          in: query
          description: Exact filter for lien type
          required: false
          schema:
            type: string
            enum:
              - MORTGAGE
              - PLEDGE
              - HYPOTHEC
              - OTHER
        - name: filters.registrationDetails
          in: query
          description: Exact filter for registration details
          required: false
          schema:
            type: string
        - name: filters.isReleased
          in: query
          description: Exact filter for is released
          required: false
          schema:
            type: boolean
        - name: filters.lienDate
          in: query
          description: Exact filter for lien date
          required: false
          schema:
            type: string
        - name: filters.releaseDate
          in: query
          description: Exact filter for release date
          required: false
          schema:
            type: string
        - name: filters.remarks
          in: query
          description: Exact filter for remarks
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseCollateralLienDTO'
    post:
      tags:
        - CollateralLien
      summary: Create a Collateral Lien
      operationId: create_4
      parameters:
        - name: collateralCaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralAssetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollateralLienDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollateralLienDTO'
components:
  schemas:
    CollateralCaseDTO:
      required:
        - collateralStatus
        - loanApplicationId
        - loanContractId
      type: object
      properties:
        collateralCaseId:
          type: string
          format: uuid
          readOnly: true
        loanContractId:
          type: string
          format: uuid
        loanApplicationId:
          type: string
          format: uuid
        referenceNumber:
          maxLength: 50
          minLength: 0
          type: string
        collateralStatus:
          type: string
          enum:
            - ACTIVE
            - RELEASED
            - UNDER_REVIEW
            - PENDING
        remarks:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CollateralAssetDTO:
      required:
        - assetDescription
        - assetTypeId
        - collateralCaseId
        - isPrimary
      type: object
      properties:
        collateralAssetId:
          type: string
          format: uuid
          readOnly: true
        collateralCaseId:
          type: string
          format: uuid
        assetTypeId:
          type: string
          format: uuid
        assetDescription:
          maxLength: 500
          minLength: 1
          type: string
        declaredValue:
          minimum: 0
          exclusiveMinimum: true
          type: number
        isPrimary:
          type: boolean
        ownershipInfo:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CollateralValuationDTO:
      required:
        - appraisedValue
        - collateralAssetId
        - currencyCode
        - valuationDate
        - valuationMethod
        - valuationProvider
      type: object
      properties:
        collateralValuationId:
          type: string
          format: uuid
          readOnly: true
        collateralAssetId:
          type: string
          format: uuid
        appraisedValue:
          minimum: 0
          exclusiveMinimum: true
          type: number
        valuationMethod:
          type: string
          enum:
            - MARKET_COMPARISON
            - INCOME_APPROACH
            - COST_APPROACH
            - OTHER
        valuationProvider:
          maxLength: 200
          minLength: 1
          type: string
        valuationDate:
          type: string
          format: date
        currencyCode:
          type: string
          enum:
            - EUR
            - USD
            - GBP
        notes:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CollateralPartyDTO:
      required:
        - collateralAssetId
        - partyId
        - roleCode
      type: object
      properties:
        collateralPartyId:
          type: string
          format: uuid
          readOnly: true
        collateralAssetId:
          type: string
          format: uuid
        partyId:
          type: string
          format: uuid
        roleCode:
          type: string
          enum:
            - OWNER
            - CO_OWNER
            - OCCUPANT
            - CUSTODIAN
        ownershipPercentage:
          maximum: 100
          exclusiveMaximum: false
          minimum: 0
          exclusiveMinimum: false
          type: number
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CollateralLienDTO:
      required:
        - collateralAssetId
        - isReleased
        - lienDate
        - lienType
        - registrationDetails
      type: object
      properties:
        collateralLienId:
          type: string
          format: uuid
          readOnly: true
        collateralAssetId:
          type: string
          format: uuid
        lienType:
          type: string
          enum:
            - MORTGAGE
            - PLEDGE
            - HYPOTHEC
            - OTHER
        registrationDetails:
          maxLength: 1000
          minLength: 1
          type: string
        isReleased:
          type: boolean
        lienDate:
          type: string
          format: date
        releaseDate:
          type: string
          format: date
        remarks:
          maxLength: 1000
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PaginationResponseCollateralCaseDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/CollateralCaseDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    PaginationResponseCollateralAssetDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/CollateralAssetDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    PaginationResponseCollateralValuationDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/CollateralValuationDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    PaginationResponseCollateralPartyDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/CollateralPartyDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    PaginationResponseCollateralLienDTO:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            $ref: '#/components/schemas/CollateralLienDTO'
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
